[project]
name = "roughly"
version = "0.1.0"
description = "A Roughtime client library for Python"
readme = "README.md"
requires-python = ">=3.12"
dependencies = ["cryptography>=46.0.3"]

[project.optional-dependencies]
cli = ["click>=8.3.1"]

[project.scripts]
roughly = "roughly.cli:cli"
