name: Run ruff

on: [push, pull_request]

jobs:
    ruff:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - uses: astral-sh/ruff-action@v3
